<div class="text-center text-danger">
  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |message| %>
      <div class="bg-danger text-white">
        <li><%= message %></li>
      </div>
    <% end %>
  <% end %>
</div>
<div class="container mb-3">
  <div class="row">
    <h1 class="heading08"><span>Edit Article</span>投稿編集</h1>
  </div>
  <div class="row hoge new-limit">
    <%= form_with model:@article, local:true do |f| %>

      <h5>メイン画像</h5>
      <div id="result" class="mb-3">
        <%= attachment_image_tag @article, :article_image, :fill, 300, 300, fallback: "no_image.png", size:"300x300" %>
      </div>
      <div class="nonefont"><%= f.attachment_field :article_image, placeholder: "メイン画像", id:"file" %> </div>

      <div class="article-new">
        <h5>タイトル<span class="need">必須</span></h5>
        <%= f.text_field :title, placeholder: "50文字以内で記入してください"%>

        <h5>前書き</h5>
        <%= f.text_area :preface, style:"width:100%;""height:7em;" %>

        <h5>タグ</h5>
        <%= f.text_field :tag_ids, value: @tag_list,\
          placeholder: "タグを複数つけるには　,(カンマ)　で区切ってください。" %>

        <span>よく使われているタグ【使用数】</span><br>
        <% @tag_ranks.each do |tag| %>
          <span class="tag-all "><%= tag.tag_name %>【<%= @tag_map.where(tag_id: tag.id).count %>】</span>
        <% end %>

        <h5>つかうもの<span class="need">必須</span></h5>
        <%= f.text_field :material, placeholder: "複数ある場合は(スペース)で区切ってください。" %>

        <h5>かかる時間<span class="need">必須</span></h5>
        <%= f.text_field :production_time %>

        <h5>むずかしさ<span class="need">必須</span></h5>
        <%= f.select :difficulty, Article.difficulties.keys, {default: 0}, class:"btn btn-outline-dark" %>

        <h5>動画</5>
        <%= f.file_field :video %>

        <h5>つくりかた<span class="need">必須</span></h5>
        <div class="main-field">
          <%= f.text_area :body ,value:@article.body, "data-provider": :summernote %>
        </div>

        <%= f.submit "編集する！",type:"submit" %>
      </div>
    <% end %>
  </div>
</div>

<script>
$(function(){
    $('#file').change(function(){
        $('result > img').remove();
        var file = $(this).prop('files')[0];
        if(!file.type.match('image.*')){
            return;
        }
        var fileReader = new FileReader();
        fileReader.onloadend = function() {
            $('#result').html('<img src="' + fileReader.result + '"/>');
        }
        fileReader.readAsDataURL(file);
    });
});
</script>

