<div class='container'>
  <div class="row ">
      <h1 class="heading08"><span>Crafts</span>みんなの工作</h1>
  </div>
  <div class='row'>
       <%= form_with url: articles_path, method: :get, class: 'jiyuu' do %>
      <%= select_tag :tag_id,
        options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
        {
          prompt: 'タグで絞り込み',
          class: 'jiyuu',
          onchange: 'submit(this.form);'
        }%>
    <% end %>

    <p>検索</p>
   <div class="search-form">
       <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
       <% end %>
   </div>
  </div>
   <%= render "articles/index", articles: @articles %>
</div>