<div class="container">
  <%= render "layouts/flashes" %>
  <div class="row ">
    <h1 class="heading08"><span>Crafts</span>みんなの工作</h1>
  </div>
  <div class="search-right">
    <div class="tag-search-form">
      <%= form_with url: articles_path, method: :get, class: "jiyuu" do %>
        <%= select_tag :tag_id,
        options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
        {
        prompt: "タグで検索",
        class: "jiyuu",
        onchange: "submit(this.form);"
        }%>
      <% end %>
    </div>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="search-form">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword, placeholder:" キーワードで検索" %>
        <input type="submit" value="&#xf002;">
      <% end %>
    </div>
  </div>
  <%= render "articles/index", articles: @articles %>
  <div class="pagination-area">
    <%= paginate @articles, theme: "twitter-bootstrap-4"%>
  </div>
</div>