 <div class="container">
   <div class="row hoge mt-5">
     <div class='col-8'>
       <button class="print">印刷する</button>
      <div class="d-flex flex-column text-center">
        <div><h1><%= @article.title %></h1></div>
        <div class='text-right'><h5>
          <%= link_to user_path(@article.user) do %>
             投稿者：<%= @article.user.nickname %>
             <%= attachment_image_tag @article.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "person.jpg", size:'60x60', class:"rounded-circle" %>
          <% end %>
        </div></h5>
        <div class="print-hide">
          <% if @article.user == current_user %>
            <%= link_to '編集する', edit_article_path(@article), class: "btn btn-sm btn-success edit_article_#{@article.id}" %>
            <%= link_to 'この記事を削除する', article_path(@article), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_article_#{@article.id}"%>
          <% end %>
        </div>
        <div class="mt-5"><%= attachment_image_tag @article, :article_image, :fill, 300, 300, format: 'jpeg', fallback: "person.jpg", size:'300x300'%></div>
        <div class="mt-5"><h2>前書き</h2></div>
        <div><%= @article.preface %></div>
        <div class="mt-5">かかる時間：<%= @article.production_time %></div>
        <div>むずかしさ：<%= @article.difficulty %></div>
        <div class="mt-5"><h2>材料</h2></div>
        <div><%= @article.material %></div>
        <div class="mt-5"><h2>つくりかた</h2></div>
        <div class="width-100-percent text-left"><%= sanitize @article.body%></div>
        <div class='star-btn' id="favorite_<%= @article.id %>">
         <%= render "favorites/favorite", article: @article %>
        </div>
      </div>

      <div class="print-hide">
        <div class="comments border-top">
          <p class='text-right'>コメント件数：<%= @article.comments.count %></p>
          <% @article.comments.each do |comment| %>
            <div class='mb-4 mt-4'><span class='hukidasi'><%= comment.comment_content %></span></div>
            <div>
              <%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "person.jpg", size:'60x60', class:"rounded-circle"%>
              <%= comment.user.nickname %>
              <%= comment.created_at.strftime('%Y年%m月%d日') %>
              <% if comment.user == current_user %>
                <%= link_to "コメントを削除", article_comment_path(comment.article, comment), method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="new-comment">
          <%= form_with(model:[@article, @comment], local: true) do |f| %>
            <%= f.text_area :comment_content, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      </div>
     </div>
   </div>
 </div>


