<div class="text-center text-danger">
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
    <div class="bg-danger text-white">
      <li><%= message %></li>
    </div>
    <% end %>
  <% end %>
</div>
<div class="container">
  <div class="row hoge">
    <h1 class="heading08"><span>Customer Detail</span>会員詳細</h1>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <%= form_with model:@user, local:true do |f| %>
        <table class="table">
          <tr>
            <td><lebel class="under">氏名(ほかの人には表示されません)</lebel></td>
            <td>
              <%= f.text_field :last_name,class:"form-control"  %>
              <%= f.text_field :first_name,class:"form-control"  %>
            </td>
          </tr>
          <tr>
            <td><lebel class="under">フリガナ(ほかの人には表示されません)</lebel></td>
            <td>
              <%= f.text_field :kana_last_name,class:"form-control" %>
              <%= f.text_field :kana_first_name,class:"form-control"  %>
            </td>
          </tr>
          <tr>
            <td><lebel class="under">おなまえ(表示名)</lebel></td>
            <td><%= f.text_field :nickname,class:"form-control"  %></td>
          </tr>
          <tr>
            <td><lebel class="under">メールアドレス</lebel></td>
            <td><%= f.email_field :email,class:"form-control"  %></td>
          </tr>
          <tr>
            <td>
             <label for="inputImage">アイコン</label>
             <div id="result2"><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", format: "jpeg",size:"100x100", class:"rounded-circle"%></div>
            </td>
            <td><div class="nonefont"><%= f.attachment_field :profile_image, placeholder: "プロフィール画像", id:"file"  %></div></td>





          </tr>
          <tr>
            <td><lebel class="under">じこしょうかい</lebel></td>
            <td><%= f.text_area :introduction,class:"form-control"  %></td>
          </tr>
        </table>
        <div class="form-group">
          <%= f.submit "編集内容を保存",class: "btn btn-outline-dark"%>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
$(function(){
    $('#file').change(function(){
        $('result2 > img').remove();
        var file = $(this).prop('files')[0];
        if(!file.type.match('image.*')){
            return;
        }
        var fileReader = new FileReader();
        fileReader.onloadend = function() {
            $('#result2').html('<img src="' + fileReader.result + '"/>');
        }
        fileReader.readAsDataURL(file);
    });
});
</script>